@model StudentRegistration.Models.AcademicClass

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card my-2" id="createContent">
    @* head *@
    <div class="card-body d-flex flex-column">

        <div class="d-flex flex-column flex-md-row justify-content-start align-items-center border-bottom">
            <p class="fs-3 me-md-3">@ViewBag.FormName</p>
            <div class="" id="msg">
                <p id="msgText"></p>
            </div>
        </div>

        @* body *@
        @using (Html.BeginForm("Create", "AcadClass", FormMethod.Post, new { @class = "p-2 d-flex flex-column gap-4", id = "createBeginForm" }))
        {
            <div class="d-flex flex-column gap-2">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(c => c.ID)

                <div class="d-flex flex-column gap-2">
                    @Html.LabelFor(c => c.Code, new { @class = "fs-5 d-sm-none d-md-block", id = "CodeLbl" })
                    @Html.TextBoxFor(c => c.Code, new { @class = "form-control", @placeholder = "Code: AC07" })
                    @*@Html.ValidationMessageFor(c => c.Code)*@
                </div>
                <div class="d-flex flex-column gap-2">
                    @Html.LabelFor(c => c.Name, new { @class = "fs-5 d-sm-none d-md-block", id = "NameLbl" })
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @placeholder = "Name: Class 7" })
                    @*@Html.ValidationMessageFor(c => c.Name)*@
                </div>

            </div>

            <div class="card-footer">
                <input type="button" class="btn btn-info fs-6" id="submitBtn" value="Submit" disabled="true"/>
                <input type="button" class="btn btn-danger fs-6" id="clearBtn" value="Clear"/>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/data-exists-checker")
@Scripts.Render("~/bundles/acad-class-js")