@*@model IEnumerable<StudentRegistration.Models.AcademicClass>*@
@model ICollection<StudentRegistration.Models.AcademicClass>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card my-2">
    @* head *@
    <div class="card-body d-flex flex-column gap-2">

        <div class="d-flex justify-content-between border-bottom pb-2">
            <h3 class="card-title">@ViewBag.IndexName</h3>

            @Html.ActionLink("Create New Class", "Create", "AcadClass", new {  }, new { @class = "btn btn-primary" })

        </div>

        @* body *@
        <form class="d-flex justify-content-center align-items-center gap-2">
            <input type="text" class="form-control" id="searchData" placeholder="Search data" />
            <button class="btn btn-primary" type="submit" id="submitButton"><i class="bi bi-search"></i></button>
        </form>

        @{
            int sl = 1;
        }

        <div class="d-flex justify-content-center align-items-center">
            <table class="table table-striped">

                @foreach (var item in Model)
                {

                    <tr>
                        <td>@sl</td>
                        <td>
                            @Html.DisplayFor(c => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(c => item.Name)
                        </td>
                        <td class="d-flex gap-2">

                            @Html.ActionLink("Edit", "Edit", "AcadClass", new { id = "" + item.ID + "" }, new { @class = "bi bi-pencil-square" })

                            @Html.ActionLink("Delete", "Delete", "AcadClass", new { id = "" + item.ID + "" }, new { @class = "bi bi-trash" })

                        </td>
                    </tr>

                    sl++;
                }
            </table>
        </div>

    </div>
</div>