@model IEnumerable<StudentRegistration.Models.AcademicClass>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark table-hover table-striped">
    <tr class="">
        <th>
            <p class="fs-6">SL</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{
        int sl = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @sl
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

        sl++;
    }

</table>
